:root {
  --heading-font-family: "Playfair Display", georgia, serif;
  --body-font-family: "Inter Tight", inter, sans-serif;
  --background-color: #fff;
  --text-color: #242424;
  --link-color: #161616;
  --link-hover-color: #013638;
  --section-padding: 80px 0;
  --nav-height: 64px;
  --content-max-width: 1200px;
  --heading-size-xxl: 64px;
  --heading-size-xl: 40px;
  --heading-size-l: 36px;
  --heading-size-m: 24px;
  --heading-size-s: 20px;
  --heading-size-xs: 16px;
  --color-dark: #013638;
  --color-dark-text: #fff;
  --color-light: #e5f2f3;
  --color-grey: #f5f5f5;
  --color-teal: #013638;
  --color-accent: #1a6b6e;
  --border-radius: 16px;
}
